<form action="/texts/create" method="post">
<input type="hidden" name="text[sender]"  value=<%=@bouquet.sender_name%>><br>
Phone number to text to:<br>
<input type="text"
name="text[number]"><br><br>
 <input type="submit" value="Send Bouquet!">
</form>
