
<form action="/texts/create" method="post">
Phone number to text to:<br>
<input type="text"
name="text[number]"><br><br>
Your name:<br>
<input type="text"
name="text[sender]"><br><br>

 <input type="submit" value="Send Bouquet!">
</form>
