<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDo2l9bHOpF6W1lxwIdI0njMBESuZEhzk&callback=initHeatMap&libraries=visualization" type="text/javascript" async defer></script>
<div>
  <h1>Index page</h1>
</div>
<a href="/bouquets/new" class="f4 fw6 db white link hover-light-green ">Make a new bouquet</a>

<div id="mapbase"></div>
