<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDo2l9bHOpF6W1lxwIdI0njMBESuZEhzk&callback=initHeatMap&libraries=visualization" type="text/javascript" async defer></script>

<h1>Index page</h1>

<a href="/bouquets/new">Make a new bouquet</a>

<div id="mapbase"></div>
