<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDo2l9bHOpF6W1lxwIdI0njMBESuZEhzk&callback=initHeatMap&libraries=visualization" type="text/javascript" async defer></script>

<h1>Index page</h1>

<a href="/bouquets/new">Make a new bouquet</a>

<p><%= @bouquets.count %> bouquets have been sent!</p>

<% @locations.each do |location| %>
<ul>
  <li><%= location.lat %></li>
</ul>
<% end %>

<div id="mapbase"></div>
