<h1>Create a new Bouquet</h1>

<!-- <div id="floating-panel">
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
</div>

<div id="mapbase"></div> -->

<%= form_tag spotify_search_path, :method => 'post' do %>
  <p>
    <%= select_tag(:search_type, options_for_select([["artist"],["track"]])) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div id="person">
  <form action="/bouquets/create" method="post">
    <p>Sender Name: <input type="text" name="bouquet[sender_name]" required></p>
    <p>Receiver Name: <input type="text" name="bouquet[receiver_name]" required></p>
    <p>Custom Location Name: <input type="text" name="bouquet[custom_location]" required></p>
    <div id="map"></div>

    <input id="lat_coord" name="location[lat]" type="hidden" value="" required>
    <input id="lng_coord" name="location[lng]" type="hidden" value="" required>
    <!-- <p>City: <input type="text" name="location[city]" id="city"></p>
    <p>State: <input type="text" name="location[state]" id="state"></p>
    <p>Country: <input type="text" name="location[country]" id="country"></p> -->
    <p>Song Title: <input type="text" name="song[track]" required></p>
    <p>Song Artist: <input type="text" name="song[artist]" required></p>
    <p>Song Album: <input type="text" name="song[album]" required></p>
    <p>Comment: <input type="text" name="bouquet[comment]" required></p>
    <p><input type="submit" value="Create Bouquet"></p>
  </form>
</div>
