<div class="black-60">
  <header class="tc ph4 pb4">
    <h2 class="f4 f4-m f3-l fw6 black-60 mt0 lh-copy">
      The possibilities are endless. The memories are priceless.
    </h2>
    <h1 class="f3 f2-m f1-l black-60 mv3">
      Pick a Song. Pick a Friend. Pick a Place.
    </h1>
  </header>

  <%= render "devise/shared/links" %>
</div>
