/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

div#person {
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;

  min-width: 1000px;
}

#map {
  width: 900px;
  height: 600px;
  background-color: grey;
  margin: auto;
  position: fixed;

}
button{
  background-color: none;
  border:none;
}

div#results{
  float:right;
}




input {
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 250px;
    transition: all .3s;
    border: 2px solid #1DB954;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: #1DB954;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.container{
  margin-bottom: 0px;
}
.artist-container{
  display: inline-block;
  float: left;
  margin: 8px;
}
.track-container{
  display: inline-block;
  float:left;
  margin: 8px;
}


#profilemap {
  width: 30%;
  height: 400px;
  background-color: grey;
  margin: auto;
}

#show-map {
  width: 30%;
  height: 400px;
  background-color: grey;
  margin: auto;
}

#pac-input {
  width: 400px;
}

#mapbase {
  width: 30%;
  height: 400px;
  background-color: grey;
  margin: auto;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}
