



<% form_tag spotify_search_path, :method => 'get' do %>
  <p>
    <%= select_tag(:search_type, options_for_select([["artist"],["track"]])) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
